//
//
//	-----------------------------------------------------------------------------
//
//	0.2 - Variables
//			# Colores
//			# Tipografía
//			# Mixins
//
//	-----------------------------------------------------------------------------
//

//
// Colores
//
$white: #FFF
$black: #000


//
// Tipografía
//
$font-menu: 'Work Sans', sans-serif

$font-base: 'Oswald', sans-serif

$font-h: 'Oswald', sans-serif

//
// Mixins
//
$screen-lg: 1200px
$screen-md: 1200px
$screen-sm: 992px
$screen-xs: 767px
$screen-xx: 450px
